body {
    background-color: black;
    background-image: url(../img/cat.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

#wrapper {
    width: 800px;
    height: 800px;
    margin: 10px auto;
    border: 5px solid #FFF;
}

#top{
    width: 790px;
    height: 200px;
    border: 2px solid #FFF;
    margin: 5px auto;
    background-image: url(../img/star.gif);
    background-repeat:repeat;
}
    #top #top-left{
        float:left;
    }
    #top #top-right {
        width: 220px;
        height: 200px;
        float: right;
        position:relative;
        right:20px;
        color:#fff;
    }
    @keyframes typing{
        from{ width: 0}
    }
        #top #top-right h3{
            margin-top: 150px;
            font-size:22px;
            width: 10em;
            overflow: hidden;
            white-space: nowrap;
            animation: typing 3s steps(10, start);
        }

#left-menu {
    position: relative;
    float: left;
    left: 3px;
    width: 200px;
    height: 450px;
    border: 2px solid #FFF;
    text-align: center;
}    
    #left-menu p {
        color: #fff;
        font-family: Arial;
        font-size: large;
        font-weight: bold;
    }
        #left-menu p a {
            color: #fff;
            text-decoration:none;
        }
        #left-menu p a:hover {
            color: #000;
            background-color: #fff;
        }
        #left-menu p a:active {
            color: #fff;
        }

#content {
    position: relative;
    float: right;
    right: 3px;
    width: 583px;
    height: 450px;
    border: 2px solid #FFF;
    text-align: center;
    background-color: #000;
}
    #content h1,h2{
        color: #fff;
        margin: 10px auto;
    }
    #content p {
        color: #fff;
        margin: 10px auto;
        text-indent: 2em;
        line-height:20px;
    }

        #content p a {
            color: #fff;
            text-decoration: none;
        }
            #content p a:hover {
                color: #000;
                background-color: #fff;
            }
            #content p a:active {
                color: #fff;
            }

#footer {
    clear: both;
    width: 790px;
    height: 120px;
    border: 2px solid #FFF;
    margin: 5px auto;
    margin-top: 462px;
    color: #FFF;
    text-align: center;
    background-color: #000;
}
